<ion-header>
  <ion-toolbar color="success">
    <ion-title>Pickup Call</ion-title>
    <ion-button>
      <ion-back-button text="">
      </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src = "https://www.google.com/maps/vt/data=DX7hgN2-jz6cASdLlD_Zg9YBUt04Yl5DhL40TfnJ7gyEmlRBFCc8fj4k_db_6cfbzdcAnq_G3N-ycKOzcZroFn4INeLxV_4T99p1LslFP2LTxUPeQcVWmEo37fEJt_HRZhF_kOsYnabNUvn2dkzh0KeCowVGBIiWltFBYrQ-P83skFM-3xjMIswsPhJ7-3ID4Cg-jRZ6RTocVqIFc1gA14ncOLXpD6R_zQoVZ3MBTaRcfCTaTDG4VDfK">
<ion-card>
  <ion-card-content>
    <p>Address: Gatthaghar</p>
    <p>Zip Code: 6969</p>
    <p>City: Bhaktapur</p>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item lines="insert">
    <ion-label position="floating">
      Notes
    </ion-label>
<ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success">Create PickUp Call</ion-button>
</ion-content>
